/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header{
        width:100vw; height:8vh;
        background-color: rgb(0, 0, 0);
    }
    #logo-container{
        width:200px; height: 100%;
    }
    #logo{
        width:80px; height:80px;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    header{
        width:100vw; height:16vh;
        background-color: rgb(0, 0, 0);
    }
}