#tier-list{
    overflow-y: scroll;
}
.tier-list-row-container{
    width:100%; height: 150px;
}
.tier-title-container{
    min-width: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tier-item-container{
    background-color: black;
}
/* screen size styles */
@media (max-width:992px){
    .tier-title-container{
        width:15% ; height: 100%;
    }
    .tier-item-container{
        width:85%; height: 100%;
    }
}
@media (min-width:992px){
    .tier-title-container{
        width:18% ; height: 100%;
    }
    .tier-item-container{
        width:82%; height: 100%;
    }
}