header{
    min-height: 81px;
    width:100vw; height:11vh;
    background-color: rgb(24, 24, 24);
}
#logo-container{
    width:120px; height: 100%;
}
#logo{
    width:90px; height:80px;
}
#download-container{
    width:150px; height: 100%;
}
/* screen size styles */
@media (max-width:992px){
    #download-container{
        display: none;
    }
    #hamburger-icon-container{
        padding-right: 40px;
    }
    #hamburger-icon{
        font-size: 25px;
    }
    #drop-down-item-container{
        font-size: 20px;
        position: relative;
    }
}
@media (min-width:992px){
    #download-container{
        padding-right: 40px;
    }
    #hamburger-icon-container{
        display:none;
    }
}