#tier-list{
    overflow-y: scroll;
}
.tier-list-row-container{
    width:100%; height: 140px;
}
.tier-title-container{
    min-width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tier-item-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: black;
}
#tier-images-list-drag-drop-container{
    position: relative;
}
#tier-images-list-drag-drop{
    height: 99%;
}
#tier-images-list{
    height: 99%;
    align-content: flex-start;
}
/* screen size styles */
@media (max-width:992px){
    #tier-list{
        width:100%; height:85%;
    }
    .tier-title-container{
        width:10% ; height: 100%;
    }
    .tier-item-container{
        width:100%; height: 100%;
    }
}
@media (min-width:992px){
    #tier-list{
        width:100%; height:90%;
    }
    .tier-title-container{
        width:10% ; height: 100%;
    }
    .tier-item-container{
        width:100%; height: 100%;
    }
}