/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #tier-list{
        width:100%; height:90%;
    }
    .tier-list-row-container{
        /* width:100%; height: 200px; */
    }
    .tier-title-container{
        font-size: 24px;
    }
}