#upload-images-modal-container{
    width:100vw; height: 100vh;
}
#upload-images-modal-dialog{
    max-width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:120px;
}
#upload-images-modal{
    width:80vw;
}
#upload-images-layout-tier-list-container{
    width:100%; height: 100%;
}
/* modal body */
#drop-zone-container{
    width:100%; height:300px;
    border:1px dotted black;
}
#DropDownImages{
    width:100%; height:100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
#DropDownImages:hover{
    cursor: pointer;
}